body {
    text-align: center;
    font-family: Ubuntu,sans-serif;
    margin: 50px 10px 50px 10px;
    background-color: rgba(100, 195, 195, 0.4);
}
header {
    margin: 35px;
}
img {
    width: 350px;
    height: 300px;
}
h1 {
    font-size: 45px;
}