#hero {
    height: 800px;
    background-image: url("images/places/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content {
    width: 800px;
    background-color: rgba(60, 40, 40, 0.8);
    box-shadow: 2px 4px 8px rgb(80, 65, 65);
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 250px;
}

#hero-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-family: Changa, sans-serif;
    margin: 0;
}

#hero-content p {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 35px;
}

#hero-content a {
    text-decoration: none;
    background-color: rgb(55, 170, 167);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    font-size: 18px;
    box-shadow: 2px 4px 8px rgb(66, 65, 65);
}

#hero-content a:hover {
    background-color: rgb(109, 178, 172)
}
h2 {
    text-align: center;
    color:  rgb(255, 50, 50);
    font-size: 32px;
    text-transform: uppercase;
}
#destinations {
    display: flex;
    justify-content: space-evenly;
}
#destinations-1 {
    display: flex;
    justify-content: space-evenly;
}
.destination img {
    height: 200px;
    width: 400px;
    border-radius: 5px;
}
.destination p {
    text-align: center;
}
/*
footer {
    text-align: center;
}
footer p {
    color: rgba(80, 50, 50, 0.8);
    font-size: 14px;
    font-weight: 300;
}
#footer-menu {
    display: flex;
    justify-content: space-around;
}

#footer-menu a {
    font-family: Changa, sans-serif;
    color: rgb(255, 50, 50);
    text-decoration: none;
}