h1 {
    color: rgb(100, 60, 40);
    text-align: center;
    font-size: 40px;
}
#todays-challenge {
    color: teal;
    font-size: 45px;
    font-weight: bold;
    font-family: Changa,sans-serif;
}
a {
    color: #9a1515;
    text-decoration: none;
}
a:hover {
    color: teal;
}