h1 {
    font-size: 45px;
    color: rgb(100, 60, 40);
}
a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 22px;
    background-color: teal;
    border-radius: 8px;
    padding: 10px;
}
a:hover {
    color: #9a1515;
}
ol {
    list-style: none;
    width: 600px;
    margin: 20px auto 0 auto;
    padding: 0;
}
li {
    background-color: #9a5050;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(50, 15, 5);

}
main p {
    color: rgb(80, 15, 5);
    font-weight: 500;
    font-size: 20px;
    font-family: Changa,sans-serif;
}
li h3 {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 28px;
}

